@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor0: #353535;
    --cor1: #4C8647;
    --cor2: #8A78E0;
    --cor3: #2B7FFF;
    --cor4: #FA4236;
    --cor5: #F2901C;
    --cor6: #fbfbfb;
    --cores: linear-gradient(90deg, #4C8647 25%, #8A78E0 40%, #2B7FFF 60%, #FA4236 80%, #F2901C 95%);

    --font: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px 50px;
    max-width: 1440px;
    margin: auto;
    font-family: var(--font);
}

h2 {
    font-family: var(--font);
    color: var(--cor0);
    font-weight: 700;
    font-size: 3em;
}

header {
    padding: 25px 0px;

    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

footer {
    text-align: center;

    padding: 4px;
    color: var(--cor6);
    border-radius: 15px 15px 0px 0px;
}