@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor0: #353535;
    --cor1: #4C8647;
    --cor2: #8A78E0;
    --cor3: #2B7FFF;
    --cor4: #FA4236;
    --cor5: #F2901C;
    --cor6: #fbfbfb;
    --cor7: #f2eeeb;
    --cores: linear-gradient(90deg, #FA4236 80%, #F2901C 95%);

    --font: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px 50px;
    max-width: 1440px;
    margin: auto;
    font-family: var(--font);

    background-color: var(--cor6);
}